[submodule "Vulcanova.Uonet"]
	path = Vulcanova.Uonet
	url = git@github.com:VulcanovaApp/Vulcanova.Uonet.git
[submodule "WidgetKitProxy"]
	path = WidgetKitProxy
	url = git@github.com:Vulcanova/WidgetKitProxy.git
